@if(steps==1){
    <!-- send email -->
     <section class="w-[80%] mx-auto my-0 p-10">
    <h1 class="font-bold text-2xl mb-5">forgot your password?</h1>
    <form  [formGroup]="sendEmail" (ngSubmit)="submitEmail()">
      
    
        <div class="relative my-3">
            <input formControlName="email" type="email" id="Email"
               [ngClass]="{
      'border-gray-300': sendEmail.get('email')?.pristine,
      'border-green-500': sendEmail.get('email')?.valid && !sendEmail.get('email')?.pristine,
      'border-red-500': sendEmail.get('email')?.invalid && !sendEmail.get('email')?.pristine
    }"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " />
            <label for="Email"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Email</label>
        </div>
       
             <div class="link my-3 w-full  text-blue-500 flex justify-end items-center  text-xl">
            <a [routerLink]="['/auth/forget']" routerLinkActive="router-link-active" ><p>Recover Password?</p></a>

         
        </div>
             <p class="text-red-400 text-center font-semibold">{{errmsg}}</p>
        <div class="button my-5 ">
            <button type="submit"
                class="text-white w-full my-3 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-2xl text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">sign in</button>
        </div>
 <!-- <app-icons></app-icons> -->


    </form>
</section>
}


@if(steps==2){

    <!-- veify code  -->
<section class="w-[80%] mx-auto my-0 p-10">
    <h1 class="font-bold text-2xl mb-5"> Verfy Code</h1>
    <form [formGroup]="verifyCode" (ngSubmit)="submitCode()">
      
    
        <div class="relative my-3">
            <input formControlName="resetCode" type="text" id="resetCode"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " />
            <label for="resetCode"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Enter Code</label>
        </div>
      
             <div class="link my-3 w-full flex justify-end items-center  text-xl">
                <p>Didn`t receive a code?</p>
            <a (click)="submitEmail()"  class=" text-blue-500 px-2 cursor-pointer" ><p>Resand</p></a>

         
        </div>

                  <!-- <p class="text-red-400 text-center font-semibold">{{errmsg}}</p> -->
        <div class="button my-5 ">
            <button type="submit"
                class="text-white w-full my-3 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-2xl text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Verify</button>
        </div>
      <!-- <app-icons></app-icons> -->

    </form>
</section>
}


@if(steps==3){

    <!--resetPassword -->
<section class="w-[80%] mx-auto my-0 p-10">
    <h1 class="font-bold text-2xl mb-5">Set a Password</h1>
    <form  [formGroup]="resetPassword"(ngSubmit)="submitPassword()">
      
    
       
        <div class="relative my-3">
            <input formControlName="newPassword" type="Password" id="newPassword"
[ngClass]="{
            'border-gray-300': resetPassword.get('newPassword')?.pristine,
            'border-green-500': resetPassword.get('newPassword')?.valid && resetPassword.get('newPassword')?.value === resetPassword.get('rePassword')?.value && !resetPassword.get('newPassword')?.pristine,
            'border-red-500': (resetPassword.get('newPassword')?.invalid || resetPassword.get('newPassword')?.value !== resetPassword.get('rePassword')?.value) && !resetPassword.get('newPassword')?.pristine
          }"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " />
            <label for="newPassword"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">newPassword</label>
        </div>
        <div class="relative my-3">
            <input formControlName="rePassword" type="password" id="rePassword"
[ngClass]="{
            'border-gray-300': resetPassword.get('rePassword')?.pristine,
            'border-green-500': resetPassword.get('newPassword')?.valid && resetPassword.get('newPassword')?.value === resetPassword.get('rePassword')?.value && !resetPassword.get('rePassword')?.pristine,
            'border-red-500': (resetPassword.get('newPassword')?.invalid || resetPassword.get('newPassword')?.value !== resetPassword.get('rePassword')?.value) && !resetPassword.get('rePassword')?.pristine
          }"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " />

            <label for="rePassword"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">RePassword</label>
        </div>




      

        <!-- <p class="text-red-400 text-center font-semibold">{{errmsg}}</p> -->
        <div class="button my-5 ">
            <button type="submit"
                class="text-white w-full my-3 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-2xl text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">sign in</button>
        </div>
    </form>

<!-- <app-icons></app-icons> -->


</section>
}

