<section class="w-[80%] mx-auto my-0 p-10">
    <h1 class="font-bold text-2xl mb-5">sign up</h1>
    <form [formGroup]="registerform" (ngSubmit)="submit()">
        <div class="relative my-3">
            <input formControlName="username" type="text" id="username"[ngClass]="{
  'border-gray-300': registerform.get('username')?.pristine,
  'border-green-500': registerform.get('username')?.valid && !registerform.get('username')?.pristine,
  'border-red-500': registerform.get('username')?.invalid && !registerform.get('username')?.pristine
}"

            
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " />
            <label for="username"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">username</label>
        </div>
        <div class="relative my-3">
            <input formControlName="firstName" type="text" id="firstName"
                        [ngClass]="{
  'border-gray-300': registerform.get('firstName')?.pristine,
  'border-green-500': registerform.get('firstName')?.valid && !registerform.get('firstName')?.pristine,
  'border-red-500': registerform.get('firstName')?.invalid && !registerform.get('firstName')?.pristine
}"

                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " />
            <label for="firstName"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">FirstName</label>
        </div>
        <div class="relative my-3">
            <input formControlName="lastName" type="text" id="lastName"  
                      [ngClass]="{
  'border-gray-300': registerform.get('lastName')?.pristine,
  'border-green-500': registerform.get('lastName')?.valid && !registerform.get('lastName')?.pristine,
  'border-red-500': registerform.get('lastName')?.invalid && !registerform.get('lastName')?.pristine
}"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " />
            <label for="lastName"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">LastName</label>
        </div>
        <div class="relative my-3">
            <input formControlName="email" type="email" id="Email"
            [ngClass]="{
  'border-gray-300': registerform.get('email')?.pristine,
  'border-green-500': registerform.get('email')?.valid && !registerform.get('email')?.pristine,
  'border-red-500': registerform.get('email')?.invalid && !registerform.get('email')?.pristine
}"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " />
            <label for="Email"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Email</label>
        </div>
        <div class="relative my-3">
            <input formControlName="password" type="password" id="password"
 [ngClass]="{
    'border-gray-300': registerform.get('password')?.pristine,
    'border-green-500': registerform.get('password')?.valid && !registerform.hasError('mismatch') && !registerform.get('password')?.pristine,
    'border-red-500': (registerform.get('password')?.invalid || registerform.hasError('mismatch')) && !registerform.get('password')?.pristine
}"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " />
            <label for="password"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Password</label>
        </div>
        <div class="relative my-3">
            <input formControlName="rePassword" type="password" id="rePassword"
 [ngClass]="{
    'border-gray-300': registerform.get('rePassword')?.pristine,
    'border-green-500': !registerform.hasError('mismatch') && registerform.get('rePassword')?.valid && !registerform.get('rePassword')?.pristine,
    'border-red-500': (registerform.hasError('mismatch') || registerform.get('rePassword')?.invalid) && !registerform.get('rePassword')?.pristine
}"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " />

            <label for="rePassword"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">RePassword</label>
        </div>




        <div class="relative my-3">
            <input formControlName="phone" type="tel" id="phone"  
                                  [ngClass]="{
  'border-gray-300': registerform.get('phone')?.pristine,
  'border-green-500': registerform.get('phone')?.valid && !registerform.get('phone')?.pristine,
  'border-red-500': registerform.get('phone')?.invalid && !registerform.get('phone')?.pristine
}"

            
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " />
            <label for="phone"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Phone</label>
        </div>
        <div class="link my-3 w-full text-center flex justify-center items-center  text-xl">
            <p>already have an account?</p>

            <a routerLink="/auth/login" 
                class="block py-2 px-3 text-blue-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700  md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">login</a>

        </div>

        <p class="text-red-400 text-center font-semibold">{{errmsg}}</p>
        <div class="button my-5 ">
            <button type="submit" [disabled]="registerform.invalid"
                class="text-white w-full my-3 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-2xl text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">signup</button>
        </div>
    </form>

<!-- <app-icons></app-icons> -->


</section>